extends layout.pug

block content
    div(class="row" style="margin-top: 20px")
        div(class="col-lg-3 col-md-2")
        div(class="col-lg-6 col-md-8")
            div(class='container')
                div(class="card")
                    div(class="card-header bg-primary text-white text-center")
                        h2 Self-Authed
                    div(class="card-body")
                        p(class="card-text") Hello #{username} !
                    div(class="card-footer")
                        a(href="/" class="btn btn-primary" role="button") Back
    div(class="row" style="margin-top: 20px")
        div(class="col-lg-6 col-md-12")
            div(class='container')
                div(class="card")
                    div(class="card-header text-center")
                        h2 Administration
                    div(class="row")
                        div(class="col-lg-6 col-md-12")
                            div(class="card-body")
                                div(class="card-title") Users
                                div(class='container')
                                    form(action="/new_user", method="post")
                                        div(class="mb-3")
                                            label(for="login" class="form-label") Username
                                            input(id="login" type="text" class="form-control" name="username"
                                                    aria-describedby="login-help" placeholder="Enter login")
                                        div(class="mb-3")
                                            label(for="password" class="form-label") Password
                                            input(id="password" type="password" class="form-control" name="password"
                                                    placeholder="Enter password")
                                        button(type="submit" class="btn btn-primary") Add user
                        div(class="col-lg-6 col-md-12")
                            div(class="card-body")
                                div(class="card-title") Permissions
                                div(class='container')
                                    form(action="/set_user_service", method="post")
                                        div(class="mb-3")
                                            label(for="user-name" class="form-label") Username
                                            input(id="user-name" type="text" class="form-control" name="user-name"
                                                    aria-describedby="user-name-help" placeholder="Enter user name")
                                        div(class="mb-3")
                                            label(for="service-names" class="form-label") Permissions
                                            input(id="service-names" type="text" class="form-control" name="service-names"
                                                    placeholder="Enter comma separated services")
                                        button(type="submit" class="btn btn-primary") Set permissions
                        div(class="col-lg-6 col-md-12")
                            div(class="card-body")
                                div(class="card-title") Services
                                div(class='container')
                                    form(action="/new_service", method="post")
                                        div(class="mb-3")
                                            label(for="service-name" class="form-label") Name
                                            input(id="service-name" type="text" class="form-control" name="service-name"
                                                    aria-describedby="service-name-help" placeholder="Enter service name")
                                        div(class="mb-3")
                                            label(for="service-url" class="form-label") URL
                                            input(id="service-url" type="text" class="form-control" name="service-url"
                                                    placeholder="Enter service URL")
                                        button(type="submit" class="btn btn-primary") Add service
        div(class="col-lg-6 col-md-12")
            div(class='container')
                div(class="card")
                    div(class="card-header text-center")
                        h2 User list
                    div(class="card-body")
                        div(class='container')
                            ul(class="list-group list-group-flush")
                                for user in users
                                    li(class="list-group-item list-group-item-action")= user.username + ': ' + user.permissions
